extends layout

block content
	h1= title
	p Welcome to BlockBia
	br
	if user
		a(href='/blockbia') blockbia
		&nbsp &nbsp
		
		p Hello, #{user._name}
		a(href='/logout') logout
		
	else
		a(href='/login') login
		&nbsp &nbsp
		a(href='/register') register