doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../public/css/style.css')
    link(rel='stylesheet', href='../public/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-dialog.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    script(type='text/javascript', src="../public/js/jquery.min.js")
    script(type='text/javascript', src="../public/js/bootstrap.min.js")
    script(type='text/javascript', src="../public/js/bootstrap-dialog.min.js")
  body
    block content