extends layout

block content
	div(class='col-md-6 col-md-offset-3')
		form(action='/login', method='POST')
			h2 Login to your Account
			
			br
		
			label Username:
			div(class='input-group')
				span(class='input-group-addon')
					span(class='glyphicon glyphicon-user', aria-hidden='true')
				input(type='text', class='form-control', placeholde='Username', aria-describedby='basic-addon1', name='username' placeholder='Username')
			
			br
			
			label Password:					
			div(class='input-group')
				span(class='input-group-addon')
					span(class='glyphicon glyphicon-lock', aria-hidden='true')
				input(type='password', class='form-control', aria-describedby='basic-addon1', name='password' placeholder='Password')
				
			br
			
			div  		
				div(class='btn-group' role='group')
					button(type='submit', class='btn btn-primary') Login

